
* {
    margin: 0;
    box-sizing: border-box;

}

body {
    max-width: 100%;
    width: 800px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.hidden {
    display: none;
}

textarea {
    resize: none;
    width: 100%;
    font-size: unset;
    background-image: linear-gradient(gray, black);
    color: white;
    border: ridge 14px black;
    padding: 10px;
    border-radius: none;
}
::placeholder { /* Most modern browsers support this now. */
    color:    white;
 }

#feed{
    height: 400px;
    overflow: auto;
    background-image: linear-gradient(rgb(190, 64, 190), pink);
    padding: 5px;
    border: ridge 14px purple;
}

button {
    padding: 15px;
    font: unset;
    background-color: unset;
    border: 3px solid black;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    font-weight: bold;
}

#ifUser{
    background-color: slategray;
}

.userPfp {
    max-width: 150px;
    float: left;
    border: solid 2px black;
    background-image: radial-gradient(white,rgba(0, 0, 0, 0.065));
}

